/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter-Variable", sans-serif;
  --accent-font: "PressStart2P", fantasy;
  --text-weight: 400;
  --title-weight: 700;
  --font-size: 18px;
  --font-small: 14px;
  --color: #000;
  --shadow-color: #fff;
  --background-color: #fff;
  --button-text-color: #fff;
  --main-border: 1px solid #000;
  --heart-contour-color: #000;
  --heart-color: red;

  --padding-top: clamp(80px, 128px, 20vw);
  --padding-side: clamp(60px, 120px, 15vw);
  --time_step: 0.3s;
  --page-width: clamp(18.75rem, 100%, 43.5rem);
  --header-title-font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  --header-subtitle-font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);

  --background-image: repeating-linear-gradient(
      180deg,
      #d3d3d3 0 2px,
      rgb(0 0 0 / 0) 2px 4px
    ),
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
}
